// $backround-color: rgb(0,2,11);
$backround-color: rgb(8,17,19);
$turquoise-color: rgb(51, 175, 170);
$main-color: white;
$section-backround-color: rgb(15, 24, 27);
$login-buttons-background: rgb(150,150,150);
$login-inputs-background: rgb(62,62,62);