@import './sass/variables';
@import './sass/header';
@import './sass/footer';
@import './sass/main';
@font-face {
  font-family: "Ortex";
  src: local("@/public/fonts/ortex.woff" format("woff"));
  }


html,
body {
  padding: 0;
  margin: 0;
  background-color: $backround-color;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.turquoise-text {
  color: $turquoise-color;
}

